.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid black;
    height: 250px;
    width: 250px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 10px;
    margin-top: 30px;
}
