div .head {
    background-color: #83A068;
    height: 500px;
    color: white;
    text-align: center;
    position: relative;
}

#header{
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
    text-shadow: 2px 2px 8px #000000;
    margin-top: 100px;
}

#intro {
    font-family: 'Roboto', sans-serif;
}

